.product-detail{
    text-align: center;
    margin-top: 13px;
}
.product-detail img{
    width: 300px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.product-detail h2{
    font-size: 30px;
    margin-bottom: 13px;
}

.product-detail p{
    font-size: 20px;
    margin-bottom: 13px;
}