*{
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
  letter-spacing: 0.1px;
} 
  
body{
  background-color: var(--premary);
  color: black;
}
 


.flex{
  display: flex;
  align-items: center;
}
a{
  all: unset; 
  cursor: pointer;
}
li{all: unset; }